.container {
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: block;
}
.job-title {
  display: flex;
  justify-content: center;
}
.job-title p {
  font-size: 1.5rem;
}
.job-title .role {
  width: 48vh;
  height: 3vh;
  margin-top: 1.2rem;
  border: 2px solid #43c0f6;
}
.generateQ {
  width: 10vh;
  height: 4vh;
  margin-top: 01rem;
  background-color: #43c0f6;
  color: white;
  border: 1px solid black;
  margin-left: 1rem;
}
.AI-response {
  height: 40vh;
  width: 30%;
  border: 1px solid black;
  margin: auto;
}
.human-response {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.response {
  width: 48vh;
  height: 3vh;
  border: 2px solid #43c0f6;
}
.human-response button {
  background-color: #43c0f6;
  color: white;
  width: 10vh;
  font-size: 1.2rem;
  border: 1px solid black;
}
